.navbar {
  margin-left: 80px;
  margin-top: 0px;
  font-size: 20px;
  position: fixed;
  height: 9%;
  background-color: white;
  width: 85%;
}
.nav-link {
  color: black;
  text-decoration: none;
}
.person {
  margin-left: -10px;
}
.butoon {
  margin-left: 150px;
}
.log {
  text-decoration: none;
  color: black;
}
.log:hover {
  color: blue;
}
.smrt {
  margin-right: 8px;
  height: 22px;
}
.navbar,
ul li a:hover {
  color: blue;
}

.col-md-4 h1 {
  font-size: 21px;
  /* margin-left: 50px; */
}
.service {
  margin: 40px 0 0;
  padding: 25px 30px;
  box-shadow: rgb(33 33 33 / 6%) 0 4px 24px 5px;
  text-align: center;
  transition: all 1s;
  border-radius: 8px;
}

.service:hover {
  margin-top: 25px;
  transition: all 1s;
}

.service img {
  margin-bottom: 5px;
}

.service h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.service p {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 20px;
  padding-top: 0 10px;
}

.work .col-md-4 {
  padding: 0 12px;
}

.quote {
  height: 35px;
}

.our-partners {
  margin: 20px 10px 10px 0;
  padding: 29px 10px;
  background-color: #fff;
  box-shadow: rgb(33 33 33 / 6%) 0 4px 24px 5px;
  border-radius: 8px;
  text-align: center;
  transition: all 1s;
}

.our-partners:hover {
  margin-top: 10px;
  transition: all 1s;
}

.width-100 {
  width: 100%;
}
.funfacts {
  text-align: center;
  font-weight: 630;
}
.service1 {
  margin: 40px 0 0;
  /* margin-left: 150px; */
  padding: 25px 30px;
  /* box-shadow: rgb(33 33 33 / 6%) 0 4px 24px 5px; */
  text-align: center;
  /* justify-content: center; */
  border-radius: 8px;
}
#src {
  margin-left: 90px;
}

.service1 img {
  margin-bottom: 5px;
  margin-right: -50px;
}

.service1 h4 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: -50px;
}

.service1 p {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 20px;
  margin-right: -50px;
  padding-top: 0 10px;
}

.work .col-md-4 {
  padding: 0 12px;
}
.service2 {
  margin: 40px 0 0;
  padding: 25px 30px;
  box-shadow: rgb(33 33 33 / 6%) 0 4px 24px 5px;
  text-align: center;
  /* transition: all 1s; */
  border-radius: 8px;
}

.service2:hover {
  border-bottom: 1px solid blue;
}

.service2 img {
  margin-bottom: 5px;
}

.service2 h4 {
  font-size: 20px;
  margin-bottom: 20px;
}
.service2 h1 {
  font-size: 65px;
}
.service2 p {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: #828282;
  margin-bottom: 20px;
  padding-top: 0 10px;
}

.work .col-md-4 {
  padding: 0 12px;
}
#feat {
  text-align: left;
}

.team h2 {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 50px;
  color: #071e55;
  font-weight: 700;
  font-size: 36px;
}

.team-img {
  border-radius: 8px 8px;
}

.team-item {
  padding: 10px 25px 40px 25px;
  text-align: center;
}

.team-item h4 {
  line-height: 1.2;
  margin-top: 0;
  margin: 20px 0 1px;
  color: #071e55;
  font-weight: 700;
  font-size: 20px;
}

.team-item p {
  font-size: 17px;
  margin: 0 0 20px;
  color: #acacac;
}

.p-team {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 20px;
}

ul.team-icon {
  margin: 25px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

ul,
ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  color: #7c8595;
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 20px;
}

.twitter {
  background-color: #4099ff;
  border-radius: 50%;
  padding: 5px 10px 10px 10px;
}

.pinterest {
  background-color: #c92228;
  border-radius: 50%;
  padding: 5px 10px 10px 10px;
}

.facebook {
  background-color: #3b5998;
  border-radius: 50%;
  padding: 5px 10px 10px 10px;
}

.dribble {
  background-color: #ea4c89;
  border-radius: 50%;
  padding: 5px 10px 10px 10px;
}
.price {
  display: block;
  /* font-family: 'Open Sans', sans-serif; */
  text-align: left;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 5px;
  /* margin-right: 20px; */
  margin-left: 68px;
}
.line {
  margin-left: 120px;
  margin-top: -60px;
  border-left: 1px solid lightgrey;
  height: 75px;
}
.up {
  margin-left: 150px;
  margin-top: -70px;
}
.accordion {
  flex: 0 0 auto;
  width: 50%;
  margin-left: 570px;
  margin-top: -250px;
}
.service3 {
  margin: 40px 0 0;
  padding: 25px 30px;
  box-shadow: rgb(33 33 33 / 6%) 0 4px 24px 5px;
  text-align: center;
  transition: all 1s;
  border-radius: 8px;
}

.service3:hover {
  margin-top: 25px;
  transition: all 1s;
}

.service3 img {
  margin-bottom: 5px;
}

.service3 h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.service3 p {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 20px;
  padding-top: 0 10px;
}

.work .col-md-4 {
  padding: 0 12px;
}
#staticName {
  width: 100%;
  height: 55px;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 23px;
  color: #727272;
  background-color: #f6f7f8;
  border: 1px solid #ececec !important;
  font-size: 14px;
  border-radius: 5px 5px 5px 5px;
}
#staticName:focus {
  border: none;
  outline: none;
}
#staticEmail {
  width: 100%;
  height: 55px;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 23px;
  color: #727272;
  background-color: #f6f7f8;
  border: 1px solid #ececec !important;
  font-size: 14px;
  border-radius: 5px 5px 5px 5px;
}
#staticEmail:focus {
  border: none;
  outline: none;
}
#staticNumber {
  width: 100%;
  height: 55px;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 23px;
  color: #727272;
  background-color: #f6f7f8;
  border: 1px solid #ececec !important;
  font-size: 14px;
  border-radius: 5px 5px 5px 5px;
}
#staticNumber:focus {
  border: none;
  outline: none;
}
#msg {
  color: #727272;
  background-color: #f6f7f8;
  border: 1px solid #ececec !important;
  font-size: 14px;
  border-radius: 5px 5px 5px 5px;
}
#msg:focus {
  border: none;
  outline: none;
}
.head {
  margin-left: 750px;
  margin-top: -700px;
}
.nav-link:hover{
    color: blue!important;
}